:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--input-border-color: #666;
	--input-border-color--focus: #999;
	--red-500: rgb(220, 49, 49);
	--white: #fff;
	--black: #000;

	--indigo-200: rgb(144, 110, 239);
	--indigo-300: rgb(127, 93, 221);
	--indigo-500: rgb(82, 41, 194);
	--indigo-600: rgb(72, 36, 172);

	--green-500: rgb(58, 161, 33);
	--green-600: rgb(53, 145, 30);
	--green-100: rgb(184, 207, 178);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: var(--indigo-200);
	text-decoration: inherit;
}
a:hover {
	color: var(--indigo-300);
}

body {
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
