.ProductList
  position: relative

  table
    border-collapse: collapse
    thead
      background: rgba(#000,.1)
      th
        padding: 10px
        text-align: left
    tbody
      td
        padding: 5px 10px
      tr:nth-child(2n)
        td
          background: rgba(#444,.1)